@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light_red: hsl(0, 100%, 67%);

    --White: hsl(0, 0%, 100%);
    --Off_white: hsl(0, 0%, 94%);
    --Light_grey: hsl(0, 0%, 86%);
    --Smokey_grey: hsl(0, 1%, 44%);
    --Off_black: hsl(0, 0%, 8%);

    --font-family: 'Poppins', sans-serif;

}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light_grey);
    font-family: var(--font-family);
}

main {
    display: flex;
    height: 440px;
    width: 590px;
    min-width: 500px;
    flex-direction: column;
    padding: 40px;
    margin: 15px;
    border-radius: 20px 20px 30%;
    background-color: var(--White);

    form {
        display: flex;

        div {
            display: inline-flex;
            flex-direction: column;
            margin: 5px;
            
        }
        
        label {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 0.6rem;
            margin-bottom: 5px;
            color: var(--Smokey_grey);
        }
        
        input {
            cursor: pointer;
            outline: 0;
            width: 110px;
            height: 45px;
            font-size: 1.3rem;
            font-weight: 700;
            padding: 15px;
            margin-right: 10px;
            border: 1px solid var(--Light_grey);
            border-radius: 5px;

        }
        input:hover{
            border: 1px solid var(--Purple);
        }


        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .fieldRequired{
            top: 123px;
            letter-spacing: 0.5px;
            text-transform: unset;
            font-style: italic;
            font-size: 0.5rem;
            margin: 5px;
            color: red;
        }
        .P_Red{
            color: red;
        }
        .required{
            border: 1px solid red;
        }
    
    }

    #division {
        display: flex;
        flex-direction: row;
        align-items: center;

        
        hr {
            cursor: pointer;
            min-width: 90%;
        }
        button{
            cursor: pointer;
            background-color: unset;
            border: unset;
            svg {
                padding: 17px;
                background-color: var(--Purple);
                border-radius: 50%;
            }
            svg:hover{
                background-color: var(--Off_black);
            }
        }
        
    }

    #content {
        margin-top: 10px;
        border-radius: 20px 20px 30%;
        line-height: 70px;
        h1 {
            font-size: 4rem;
            font-style: italic;
        }
        strong{
            color: var(--Purple);
        }
    }
}